# Mac files
.DS_Store

# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# VSCode files
/.vscode
*.code-workspace

# Minikube related
/.minikube/

# External libraries
/argocd-apps/

# Terraform files
/.terraform/
/.terraform.lock*
/terraform.tfstate*
# /*.tfvars
/*.tfplan

# Project files
/env/*/.kubeconfig
/env/*/secret.sh
/certs/
/docker/
/charts/
/terraform/argocd-apps/
/logs/

# Extra files
/tmp/
*.log
